/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* CSS for header */
header {
    background-image: linear-gradient(to right, #6d6733, #b29a2c);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.logo img {
    height: 70px;
}

.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-menu li {
    margin-left: 20px; /* Reduce margin for smaller screens */
    font-size: large; /* Adjust font size for smaller screens */
}

.main-menu form {
    margin-left: 10px; /* Reduce margin for smaller screens */
}

.main-menu input[type="text"] {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.main-menu button[type="submit"] {
    padding: 4px 10px; /* Adjust padding for smaller screens */
    border-radius: 10px;
}

/* Adjust styles for links */
.main-menu a {
    text-decoration: none;
    color: #333;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .main-menu li {
        margin-left: 10px; /* Further reduce margin for smaller screens */
        font-size: medium; /* Adjust font size for smaller screens */
    }

    .main-menu form {
        margin-left: 5px; /* Further reduce margin for smaller screens */
    }

    .main-menu input[type="text"] {
        padding: 2px; /* Adjust padding for smaller screens */
    }

    .main-menu button[type="submit"] {
        padding: 2px 8px; /* Further adjust padding for smaller screens */
    }
}



.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.login-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.mb-3 {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mb-3 label {
    flex: 1;
}

.mb-3 input {
    flex: 2;
}

.mb-4 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    /* Màu nền */
    color: #fff;
    /* Màu chữ */
    padding: 50px 0;
    /* Khoảng cách giữa nội dung và các biên của footer */
}

footer .container {
    max-width: 1200px;
    /* Chiều rộng tối đa của footer */
    margin: 0 auto;
    /* Canh giữa footer */
}

footer h3 {
    color: #fff;
    /* Màu chữ cho tiêu đề */
}

footer p {
    margin: 5px 0;
    /* Khoảng cách giữa các dòng chữ */
}

footer ul {
    list-style-type: none;
    /* Xóa dấu đầu dòng của danh sách */
    padding: 0;
    /* Xóa padding mặc định */
}

footer ul li {
    margin-bottom: 10px;
    /* Khoảng cách giữa các mục danh sách */
}

footer ul li a {
    color: #fff;
    /* Màu chữ cho liên kết */
    text-decoration: none;
    /* Xóa gạch chân dưới của liên kết */
}

footer ul li a:hover {
    text-decoration: underline;
    /* Hiển thị gạch chân dưới khi di chuột qua liên kết */
}

footer .social-icons {
    list-style-type: none;
    /* Xóa dấu đầu dòng của danh sách icon */
    padding: 0;
    /* Xóa padding mặc định */
}

footer .social-icons li {
    display: inline-block;
    /* Hiển thị các icon cạnh nhau */
    margin-right: 10px;
    /* Khoảng cách giữa các icon */
}

footer .social-icons li:last-child {
    margin-right: 0;
    /* Không có margin bên phải cho icon cuối cùng */
}

footer .social-icons li a {
    color: #fff;
    /* Màu icon */
}

footer .social-icons li a:hover {
    color: #ccc;
    /* Màu icon khi di chuột qua */
}


/* General Styles */
.container {
    margin: 0 auto;
    padding: 20px;
}

.row {
    margin-bottom: 20px;
}

.col-md-3 {
    width: 25%;
    float: left;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
}

.pagination a.active {
    background-color: #333;
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .col-md-3 {
        width: 33.33%;
    }
}

@media (max-width: 768px) {
    .col-md-3 {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .col-md-3 {
        width: 100%;
    }
}


.main-menu button[type="submit"] {
    background-color: #6d6733;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.main-menu button[type="submit"]:hover {
    background-color: #cfc13b;
}


/* Adjust styles for links */
.main-menu a {
    text-decoration: none;
    color: #333;
}

.main-menu a:hover {
    color: #007bff;
}


.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.login-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.mb-3 {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mb-3 label {
    flex: 1;
}

.mb-3 input {
    flex: 2;
}

.mb-4 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    /* Màu nền */
    color: #fff;
    /* Màu chữ */
    padding: 50px 0;
    /* Khoảng cách giữa nội dung và các biên của footer */
}

footer .container {
    max-width: 1200px;
    /* Chiều rộng tối đa của footer */
    margin: 0 auto;
    /* Canh giữa footer */
}

footer h3 {
    color: #fff;
    /* Màu chữ cho tiêu đề */
}

footer p {
    margin: 5px 0;
    /* Khoảng cách giữa các dòng chữ */
}

footer ul {
    list-style-type: none;
    /* Xóa dấu đầu dòng của danh sách */
    padding: 0;
    /* Xóa padding mặc định */
}

footer ul li {
    margin-bottom: 10px;
    /* Khoảng cách giữa các mục danh sách */
}

footer ul li a {
    color: #fff;
    /* Màu chữ cho liên kết */
    text-decoration: none;
    /* Xóa gạch chân dưới của liên kết */
}

footer ul li a:hover {
    text-decoration: underline;
    /* Hiển thị gạch chân dưới khi di chuột qua liên kết */
}

footer .social-icons {
    list-style-type: none;
    /* Xóa dấu đầu dòng của danh sách icon */
    padding: 0;
    /* Xóa padding mặc định */
}

footer .social-icons li {
    display: inline-block;
    /* Hiển thị các icon cạnh nhau */
    margin-right: 10px;
    /* Khoảng cách giữa các icon */
}

footer .social-icons li:last-child {
    margin-right: 0;
    /* Không có margin bên phải cho icon cuối cùng */
}

footer .social-icons li a {
    color: #fff;
    /* Màu icon */
}

footer .social-icons li a:hover {
    color: #ccc;
    /* Màu icon khi di chuột qua */
}


/* Định dạng tiêu đề */
h2 {
    color: #FFD700; /* Màu vàng */
}


.pagination-container {
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: rgb(238, 184, 69);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}